//colors
$owl-color-primary: #ee0c48;

//radius
$owl-card-radius: 20;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': $owl-color-primary,
    ),
  ),
);

:export {
  owl-color-primary: $owl-color-primary
}